* {
  box-sizing: border-box;
}

#vrh {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 15px;
    }

.gicon {
    width: 20px;
    hight: 20px;
}

#pretrazivanje {
     display:flex;
     justify-content: center;
     margin-top: 20px;

 }

 #slika {
     display:flex;
     justify-content: center;
     margin-top: 80px;
   }

.boogle {
width: 500px;
height: 180px;
}

form.example input[type=text] {
    padding: 8px;
     font-size: 15px;
     border: 1px solid grey;
     float: left;
  width: 250px;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 30px;
  padding: 7px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
























































